@font-face {
	font-family: 'icon'; /* Project id 3787050 */
	src: url('icon.woff2') format('woff2'), url('icon.woff') format('woff'),
		url('icon.ttf') format('truetype');
}

.icon {
	font-family: 'icon' !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.i-ok:before {
	content: '\e763';
}

.i-no:before {
	content: '\e7b1';
}

.i-gravatar:before {
	content: '\e65f';
}

.i-user:before {
	content: '\e7ae';
}

.i-key:before {
	content: '\e7e1';
}

.i-pwd:before {
	content: '\e75b';
}

.i-search:before {
	content: '\e699';
}

.i-filter:before {
	content: '\e6b9';
}

.i-edit:before {
	content: '\e649';
}

.i-add:before {
	content: '\e6da';
}

.i-tag:before {
	content: '\e752';
}

.i-upload:before {
	content: '\e75d';
}

.i-del:before {
	content: '\e67e';
}

.i-favfill:before {
	content: '\e685';
}

.i-fav:before {
	content: '\e686';
}

.i-reply:before {
	content: '\e60e';
}

.i-safe:before {
	content: '\e616';
}

.i-post:before {
	content: '\e68b';
}

.i-risk:before {
	content: '\e6e2';
}

.i-tags:before {
	content: '\e7e5';
}

.i-close:before {
	content: '\e7fc';
}

.i-exit:before {
	content: '\e73e';
}

.i-refresh:before {
	content: '\e71e';
}

.i-setting:before {
	content: '\e711';
}

.i-notice:before {
	content: '\e629';
}

.i-home:before {
	content: '\e7a7';
}

.i-comment:before {
	content: '\e7b2';
}

.i-publish:before {
	content: '\e645';
}

.i-system:before {
	content: '\e61f';
}

.i-draft:before {
	content: '\e670';
}

.i-create:before {
	content: '\e66f';
}

.i-save:before {
	content: '\e610';
}
